---
import { Button, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import qqSvg from '@/assets/icons/qq.svg?raw'
import wechatSvg from '@/assets/icons/wechat.svg?raw'

const headings = [
  { depth: 2, slug: 'MyWorks', text: 'My Works' },
  { depth: 2, slug: 'MyContributions', text: 'My Contributions' }
]
---

<PageLayout title='About' {headings} comment>
  <p>Developer / Designer</p>
  <p>福州大学在读，2028 届本科生，软件工程专业。正在猛猛学习～～</p>

  <Button title='Sponsor Me' class='w-fit' href='/projects#sponsorship' style='ahead' />

  <h2 id='MyWorks' class='text-2xl'>My Works</h2>
  <ProjectSection
    projects={[
      {
        name: 'Shotmeld',
        description: '高颜值的在线照片存储与管理平台',
        links: [
          { type: 'github', href: 'https://github.com/ShotMeld/Shotmeld-web' },
          { type: 'site', href: 'https://shotmeld.seeridia.top' }
          // {
          //   type: 'doc',
          //   href: 'https://github.com/cworld1/astro-theme-pure/blob/main/src/content/blog/customize/index.md'
          // }
        ]
      },
      {
        name: 'Alto',
        description: '为 typora 编辑器精心设计的主题，专注于提升写作与思考的沉浸体验',
        links: [
          { type: 'github', href: 'https://github.com/Seeridia/typora-theme-alto' },
          { type: 'site', href: 'https://theme.typora.io/theme/Alto' },
          {
            type: 'doc',
            href: 'https://github.com/Seeridia/typora-theme-alto/blob/main/README.md'
          }
        ]
      },
      {
        name: 'Clipboard Viewer',
        description: '剪切板内容解析、调试工具',
        links: [
          { type: 'github', href: 'https://github.com/Seeridia/Clipboard-Viewer' },
          { type: 'site', href: 'https://clipboard-viewer.seeridia.top/' }
        ]
      },
      {
        name: 'Cardify',
        description:
          '什么东西都没有的什么新坑，我也不知道为什么我要放这个，估计是为了 push 自己要开工了',
        links: [
          { type: 'github', href: 'https://github.com/Seeridia/Cardify' }
          // { type: 'site', href: 'https://cardify.top/' }
        ]
      },
      {
        name: 'maynooth-moodle-ics',
        description:
          'Maynooth Moodle Schedule Subscription 日程订阅，将你的 Task 订阅到你的日历应用中',
        links: [{ type: 'github', href: 'https://github.com/Seeridia/maynooth-moodle-ics' }]
      },
      {
        name: 'Other Projects',
        description: '去看看我的仓库？',
        links: [{ type: 'github', href: 'https://github.com/Seeridia?tab=repositories' }]
      }
    ]}
  />

  <h2 id='MyContributions' class='text-2xl'>My Contributions</h2>
  <ProjectSection
    projects={[
      {
        name: 'Tencent / Cherry Markdown',
        description: 'Javascript Markdown 编辑器',
        links: [
          { type: 'github', href: 'https://github.com/Tencent/cherry-markdown' },
          {
            type: 'release',
            href: 'https://www.npmjs.com/package/cherry-markdown'
          },
          {
            type: 'doc',
            href: 'https://github.com/Tencent/cherry-markdown/wiki'
          }
        ]
      },
      {
        name: 'west2-online / fzuhelper-app',
        description: '福州大学 学生助手',
        links: [
          { type: 'github', href: 'https://github.com/west2-online/fzuhelper-app' },
          {
            type: 'release',
            href: 'https://fzuhelper.w2fzu.com/'
          }
        ]
      }
    ]}
  />

  <!-- {/* tools */}
  <h2 id='tools'>Tools</h2>
  <p>Current support tools as follow:</p> -->
  <!-- <ToolSection
    class='mb-5'
    title='Design'
    tools={[
      {
        name: 'Photoshop',
        description: 'Picture Editing',
        href: 'https://www.adobe.com/products/photoshop',
        icon: import('@/assets/tools/photoshop.svg?raw')
      },
      {
        name: 'Illustrator',
        description: 'Vector Drawing',
        href: 'https://www.adobe.com/products/illustrator',
        icon: import('@/assets/tools/illustrator.svg?raw')
      },
      {
        name: 'After Effects',
        description: 'Motion Graphics',
        href: 'https://www.adobe.com/products/aftereffects',
        icon: import('@/assets/tools/aftereffects.svg?raw')
      },
      {
        name: 'Premiere Pro',
        description: 'Video Editing',
        href: 'https://www.adobe.com/products/premiere',
        icon: import('@/assets/tools/premiere.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Productivity'
    tools={[
      {
        name: 'Chrome',
        description: 'Browser',
        href: 'https://www.google.com/chrome/',
        icon: import('@/assets/tools/chrome.svg?raw')
      },
      {
        name: 'Firefox',
        description: 'Browser',
        href: 'https://www.mozilla.org/en-US/firefox',
        icon: import('@/assets/tools/firefox.svg?raw')
      },
      {
        name: 'Notion',
        description: 'Note Taking',
        href: 'https://www.notion.so/',
        icon: import('@/assets/tools/notion.svg?raw')
      },
      {
        name: 'Typora',
        description: 'Markdown Editor',
        href: 'https://typora.io/',
        icon: import('@/assets/tools/typora.svg?raw')
      }
    ]}
  /> -->
  <!-- <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/vscode.svg?raw')
      },
      {
        name: 'Neovim',
        description: 'IDE',
        href: 'https://neovim.io/',
        icon: import('@/assets/tools/neovim.svg?raw')
      },
      {
        name: 'Sublime Text',
        description: 'IDE',
        href: 'https://www.sublimetext.com/',
        icon: import('@/assets/tools/sublime.svg?raw')
      }
    ]}
  /> -->
  <!-- <ToolSection
    class='mb-5'
    title='Environment'
    tools={[
      // {
      //   name: 'Arch Linux',
      //   description: 'Linux Distribution',
      //   href: 'https://archlinux.org/',
      //   icon: import('@/assets/tools/archlinux.svg?raw')
      // },
      // {
      //   name: 'Ubuntu 24.04 LTS',
      //   description: 'Linux Distribution',
      //   href: 'https://ubuntu.com/',
      //   icon: import('@/assets/tools/ubuntu.svg?raw')
      // },
      {
        name: 'MacOS Tahoe',
        description: 'MacBook Air',
        href: 'https://www.apple.com/macos/',
        icon: import('@/assets/tools/apple.svg?raw')
      },
      {
        name: 'Windows 11',
        description: 'Framework Laptop 16',
        href: 'https://news.microsoft.com/windows11-general-availability/',
        icon: import('@/assets/tools/windows11.svg?raw')
      }
    ]}
  /> -->

  {/* social-networks 不搞实时的了，主要是这个接口不太稳定，一直跪 */}
  <h2 id='social-networks'>Social Networks</h2>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/Seeridia',
        text: 'followers',
        api: 'github/Seeridia'
      },
      {
        platform: 'Bilibili',
        icon: 'bilibili',
        color: '#FE7398',
        link: 'https://space.bilibili.com/512505503',
        text: 'subscribers',
        count: 271
      },
      {
        platform: '知乎',
        icon: 'zhihu',
        color: '#0084ff',
        link: 'https://www.zhihu.com/people/seeridia',
        text: 'followers',
        count: 1532
      },
      {
        platform: '邮箱',
        icon: 'email',
        color: '#4147D3',
        text: '',
        count: 'seeridia@gmail.com',
        link: 'mailto:seeridia@gmail.com'
      },
      {
        platform: 'QQ',
        icon: qqSvg,
        link: 'https://qm.qq.com/q/pOe7kn9GAU',
        text: '',
        count: '1528926919'
      },
      {
        platform: '微信',
        icon: wechatSvg,
        text: '',
        count: 'Seeridia'
      }
    ]}
  />

  {/* about-blog */}
  <h2 id='about-blog'>About Blog</h2>
  <p>Website history:</p>
  <Timeline
    events={[
      {
        date: '2025-08-14',
        content: '新版网站上线，基于 Astro 框架与 astro-pure 主题构建，使用 MDX 进行内容管理'
      }
    ]}
  />
</PageLayout>
