---
import config from '@/site-config'

import '@/assets/styles/hero.css'
---

<section class='hero'>
  <div class='hero__content'>
    <h1 class='hero__title'>{config.author}</h1>
    <p class='hero__tagline'>Developer & Designer</p>
    <p class='hero__description'>
      To wonder, and to feel.<br />
      去思索，也去感受
    </p>
  </div>
</section>

<script>
  import gsap from 'gsap'

  const prefersReducedMotion = window.matchMedia('(prefers-reduced-motion: reduce)').matches

  if (!prefersReducedMotion) {
    gsap.to('.hero__title', {
      opacity: 1,
      y: 0,
      duration: 1,
      ease: 'power3.out',
      force3d: true
    })

    gsap.to('.hero__tagline', {
      opacity: 1,
      y: 0,
      duration: 0.8,
      delay: 0.15,
      ease: 'power3.out',
      force3d: true
    })

    gsap.to('.hero__description', {
      opacity: 1,
      y: 0,
      duration: 0.8,
      delay: 0.3,
      ease: 'power3.out',
      force3d: true
    })
  } else {
    gsap.set(['.hero__title', '.hero__tagline', '.hero__description'], {
      opacity: 1,
      y: 0
    })
  }
</script>
