---
import config from '@/site-config'
import HeroSignature from '@/components/home/HeroSignature.astro'

import '@/assets/styles/hero.css'
---

<section class='hero'>
  <div class='hero__content'>
    <p class='hero__tagline'>Developer & Designer</p>
    <h1 class='hero__title sr-only'>{config.author}</h1>
    <div class="hero__title">
      <HeroSignature class='hero__signature' />
    </div>
    <p class='hero__description'>
      To wonder, and to feel.<br />
      去思索，也去感受
    </p>
  </div>
</section>
